
.cartIcon{
    cursor: pointer;
    z-index: 999;
    background: white;
    padding: 5px 10px;
    border-radius: 10px;
    margin: 2px;
}

dialog{
    border-radius: 10px;
    transition: all .3s;
    border: none;
    box-shadow: 1px 1px 3px 1px #666666fe;
    max-width: 320px;
    min-height: 88vh;
    width: 100%;
    margin: 0 10px 0 auto;
    z-index: 1;
    label{
        width: 100%;
        display: flex;
        color: #343434;
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 50px;
    }
}
.productName{
   min-width: 100px; 
   font-weight:600;
}
.removeBtn{
    cursor:pointer;
}
.removeBtn::after{
    content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciICB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNHB4IiBoZWlnaHQ9IjI0cHgiPjxwYXRoIGQ9Ik0gMTAgMiBMIDkgMyBMIDQgMyBMIDQgNSBMIDUgNSBMIDUgMjAgQyA1IDIwLjUyMjIyMiA1LjE5MTMyODkgMjEuMDU0NjEgNS41NjgzNTk0IDIxLjQzMTY0MSBDIDUuOTQ1Mzg5OSAyMS44MDg2NzEgNi40Nzc3Nzc4IDIyIDcgMjIgTCAxNyAyMiBDIDE3LjUyMjIyMiAyMiAxOC4wNTQ2MSAyMS44MDg2NzEgMTguNDMxNjQxIDIxLjQzMTY0MSBDIDE4LjgwODY3MSAyMS4wNTQ2MSAxOSAyMC41MjIyMjIgMTkgMjAgTCAxOSA1IEwgMjAgNSBMIDIwIDMgTCAxNSAzIEwgMTQgMiBMIDEwIDIgeiBNIDcgNSBMIDE3IDUgTCAxNyAyMCBMIDcgMjAgTCA3IDUgeiBNIDkgNyBMIDkgMTggTCAxMSAxOCBMIDExIDcgTCA5IDcgeiBNIDEzIDcgTCAxMyAxOCBMIDE1IDE4IEwgMTUgNyBMIDEzIDcgeiIvPjwvc3ZnPg==");
    display: inline-block;
}